/* Wrapper */
.login-wrapper {
  position: relative;
  min-height: 100vh;
  /* background: #002; */
  font-family: "Orbitron", sans-serif;
  color: #2ebc07;
  overflow: hidden;
}

/* GRID RETROFUTURISTA */
.grid-overlay-login {
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(green 0.4px, transparent 0.4px),
    linear-gradient(90deg, green 0.4px, transparent 0.4px);
  background-size: 40px 40px;
  /* animation: gridMove 20s linear infinite; */
  z-index: 0;
  background-size: 199px 185px;
}

@keyframes gridMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}

/* Hero */
.login-hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Card */
.login-card {
  position: relative;
  width: 100%;
  max-width: 420px;
  padding: 28px 40px;
  /* background: rgba(0, 20, 10, 0.75); */
  border: 1px solid rgba(0, 255, 100, 0.3);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  box-shadow: 0 0 40px rgba(0, 255, 120, 0.15);
  transition: 0.3s ease;
  border: 1px solid #00ff88;
  /* background: #334c7f; */

  box-sizing: border-box;
}

/* .login-card:hover {
  box-shadow: 0 0 60px rgba(0, 255, 120, 0.25);
  transform: translateY(-4px);
} */

/* Logo */
.login-logo {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 29px;
  letter-spacing: 2px;
}

.login-logo span {
  color: #2ebc07;
  /* text-shadow: 0 0 10px rgba(46, 188, 7, 0.8); */
}

.login-subtitle {
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 35px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  /* gap: 22px; */
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group label {
  font-size: 1rem;
  opacity: 0.9;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.input-group input {
  padding: 14px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(46, 188, 7, 0.3);
  border-radius: 8px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #2ebc07;
  box-shadow: 0 0 15px rgba(46, 188, 7, 0.4);
}

/* Botão */
.login-button {
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #2ebc07, #249805);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  letter-spacing: 1px;
  backdrop-filter: blur(18px);
  width: 100%;
}

.login-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(46, 188, 7, 0.7);
}

/* Footer */
.login-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.7;
}

.login-footer span {
  color: #2ebc07;
  cursor: pointer;
  font-weight: 600;
}

/* Pixel corners */
/* .pixel-corner {
  width: 14px;
  height: 14px;
  background: #00ff88;
  position: absolute;
} */

.top-left {
  top: -7px;
  left: -7px;
}

.bottom-right {
  bottom: -7px;
  right: -7px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100dvh; */
}

.input-container {
  /* background: #334c7f; */
  background: #2EBC07;
  padding: 10px;
  border-radius: 11px;
  backdrop-filter: blur(298px);
  /* background: linear-gradient(
    135deg,
    rgba(0, 255, 200, 0.2),
    rgba(27, 64, 127, 0.8)
  ); */
}
.input-container-email {
  margin-bottom: 8px;
}
.container {
  max-width: 325px;
  width: 100%;
}

.form-container {
    padding: 20px;
    border-radius: 11px;
    background: black;
}